.mainNavbar {
  position: absolute;
  display: flex;
  justify-content: left;
  margin: auto;
  top: 5vh; 
  padding: 20px;
  border-radius: 5px 5px 25px 25px;
  background: var(--blue);
  box-shadow: #32325d1a 0 30px 60px -12px, rgb(0 0 0 / 15%) 0 18px 36px -18px;
  height: 5vh;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.1s ease-in-out;
}

.mainNavbar [type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.mainNavbar [type="checkbox"] + label {
  position: relative;
  width: calc(15px + 5vw);
  height: calc(15px + 5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.2vw);
  cursor: pointer;
  z-index: 1;
  background: var(--violet);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
  
}

.mainNavbar [type="checkbox"] + label:hover {
  background: var(--dark-violet);
}

.mainNavbarMenu-img {
width: calc(20px + 5vw);
}
.mainNavbarMenu li {
  position: absolute;
  top: 18%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.1s;
  opacity: 0;
  cursor: pointer;

}
.mainNavbarMenu li:hover {
  scale: 1.1;
  transition: transform 0.3s ease-in-out; 
  }
.mainNavbarMenu li:nth-child(1) {
  transition-delay: 0.3s;
  text-shadow: 1px 1px var(--violet);
}

.mainNavbarMenu li:nth-child(2) {
  transition-delay: 0.25s;
  text-shadow: 1px 1px var(--green);

}

.mainNavbarMenu li:nth-child(3) {
  transition-delay: 0.2s;
  text-shadow: 1px 1px var(--yellow);

}

.mainNavbarMenu li:nth-child(4) {
  transition-delay: 0.15s;
  text-shadow: 1px 1px var(--red);

}
.mainNavbarMenu li:nth-child(5) {
  transition-delay: 0.1s;
  text-shadow: 1px 1px var(--orange);

}
.mainNavbarMenu li:nth-child(6) {
  margin-top: 0.5vw;
  padding: 10px;
  transition-delay: 0.05s;
}
.mainNavbarMenu li:nth-child(6):hover {
  box-shadow: 2px 2px 2px black;
  scale: 1;
}

.mainNavbarMenu li {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNavbarMenu li span {
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%) translateY(calc(-100% + 50px)); 
  width: max-content; 
  font-size: calc(10px + 0.5vw);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s;
  color: var(--black);
  font-weight: bold;
  text-align: center;
}

.mainNavbarMenu li img {
  width: 1vw;
  transition: 0.6s ease-in-out;
}
.mainNavbar input:checked + label {
  background: none;
  transform: translateY(calc(-50% + 4px));
  color: white;
}

.mainNavbar input:checked ~ .mainNavbarMenu li img {
  width: 5vw;

}
.mainNavbar input:checked ~ .mainNavbarMenu li  {
  opacity: 1;
}

/* Aquí ajustamos el menú para que se desplace a la derecha */
.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(1) {
  left: 12vw; /* Primer elemento a la derecha */
  transition-delay: 0.1s;
  background: var(--violet);

}

.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(2) {
  left: 24vw; /* Segundo elemento más a la derecha */
  transition-delay: 0.2s;
  background: var(--green);

}

.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(3) {
  left: 36vw; /* Tercer elemento aún más a la derecha */
  transition-delay: 0.3s;
  background: var(--yellow);

}

.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(4) {
  left: 48vw; /* Cuarto elemento a la derecha */
  transition-delay: 0.4s;
  background: var(--red);
}
.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(5) {
  left: 60vw; /* Cuarto elemento a la derecha */
  transition-delay: 0.5s;
  background: var(--orange);

}
.mainNavbar input:checked ~ .mainNavbarMenu li:nth-child(6) {
  left: 72vw; /* Cuarto elemento a la derecha */
  transition-delay: 0.6s;
}

.mainNavbar input:checked ~ .mainNavbarMenu li span {
  opacity: 1;
  transition-delay: 0.9s;
}

.mainNavbarMenu li:nth-child(4):hover  ~ .mainNavbarMenu li:nth-child(4){
  background-color: red;
}
