.screens-box-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  padding-left: 100px;
  padding-right: 100px;
}


.buttons-position-absolute{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}