.button-return {
  width: calc(15px + 2vw);
  height: calc(15px + 2vw);
  border-radius: 50%;
  font-size: calc(10px + 1.5vw);
  transition: transform 1s ease; /* Suaviza el cambio de transformación */
  background: conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red), conic-gradient(from 90deg, red, yellow, lime, aqua, blue, fuchsia, red);
  background-blend-mode: overlay, normal;
  color: var(--pink);
  text-shadow: 1px 1px 1px black;
}

.button-return:hover {
  transform: rotate(-150deg); /* Aplica la rotación al hacer hover */
}

.reset-rotation{
  width: calc(10px + 2vw);
  height: calc(10px + 2vw);
  border-radius: 50%;
  font-size: calc(10px + 0.8vw);
  transition: transform 1s ease; /* Suaviza el cambio de transformación */
  background-color: var(--green);
  color: var(--pink);
}

