.spining-missing-box{
  width: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  
}
.missing-box { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.spining-missing-box img{
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  animation: spinL  infinite linear;

}
.removed-image-box{
  position: absolute;
  right: 10px;
  width: 300px;
}
.removed-image-box img{
  width: 300px;
}
.spinning-on{
  animation: spin  infinite linear;
}
.form-missing-box{
  position: absolute;
  top: 2vh;
}
.rotation-control-radio{
  display: flex;
  justify-content: center;
  gap: 20px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinL {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

