.sound-game-box{
}

.sound-game-btn {
  width: 250px; 
  height: 250px;
  height: auto;
  filter: drop-shadow(0px 4px 10px black); 
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%);
}
.sound-game-btn:hover {
  filter: drop-shadow(0px 4px 5px black); 
  height: 240px;


}