.sound-game-box{
}

.sound-game-btn {
  width: calc(100px + 6vw); 
  height: calc(100px + 6vw);
  height: auto;
  filter: drop-shadow(0px 4px 10px black); 
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%);
}
.sound-game-btn:hover {
  filter: drop-shadow(0px 4px 5px black); 
  height: calc(90px + 6vw);

}

.sound-solution-img{
  width: calc(100px + 10vw);
}