/* screen-box tiene el resto de código que afecta a los box */
.welcome-screen{
  background-color: var(--light-blue);
  text-align: center;
}

.welcome-screen-box{
  display: flex;
  justify-content: center;
  gap: calc(10px + 2vw);
}

.welcome-screen-img{
  width: calc(30px + 7vw);
}