.button-next {
  text-align: center;
  cursor: pointer;
  font-size: calc(12px + 1vw);
  font-weight: 600;
  position: relative;
  background: linear-gradient(238.72deg, #FFB864 0%, #006C4C 100%), radial-gradient(100% 224.43% at 0% 0%, #6CFF72 0%, #002C6D 100%), linear-gradient(121.28deg, #FFEAB6 0%, #00563C 100%), radial-gradient(56.26% 101.79% at 50% 0%, #8F00FF 0%, #000000 100%), linear-gradient(65.05deg, #6F0072 0%, #DBFFE5 100%);
  background-blend-mode: overlay, screen, color-burn, screen, normal;
  border: none;
  color: var(--pink);
  text-align: center;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  box-shadow: 0 20px 235px var(--pink);
  border-radius: 40px;
  border: 2px solid black;
  position: absolute;
  padding: 10px 20px;
  z-index: 8;
  transition: 0.3s;
  animation: moveToPositionDown 0.5s forwards;
}

.button-next:hover {
  box-shadow: 0px 2px 1px 4px var(--pink);
  border-radius: 10px;
}

.button-next:after {
  content: "";
  background: var(--pink);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -50px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.3s;
}

.button-next:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button-next:focus {
  outline: 0;
  color: var(--white);
}

/* Animación para que el botón vuelva a la posición original al cargar */
@keyframes moveToPositionDown {
  from {
    transform: translateY(-100px); /* Comienza 200px a la derecha */
  }
  to {
    transform: translateX(0); /* Se mueve a su posición original */
  }
}

/* Aplica la animación cuando el botón apare
