.button-box-run-color{
  width: calc(200px + 20vw);
  height: calc(200px + 20vw);
  border-radius: 60px;
  font-size: calc(20px + 3vw);
}
.colorArray-list{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}
.colorArray-list div{
  height: calc(20px + 1vw);
  width: 20px;
  border: 1px solid black;
  border-radius: 20px;
}