.profile-navbar-info{
  display: flex;
  flex-direction: column;
}

.profile-navbar-info button{
margin: 3px;
padding: 3px;
border-radius: 50%;
border: none;
}

.profile-navbar-info button:hover{
background-color: var(--dark-grey);
}
.profile-navbar-info button i{
  font-size: 2vw;
}