.character-box{
  text-align: center;
  margin: 10px 0px;
}
.character-box-button{
  margin: 20px;
  width: 100px;
  border-radius: 20px;
}
.character-box-button-img{
  width: 100px;
  transition: 0.3s ease-in-out;
}
.character-box-button:hover .character-box-button-img{
  filter: drop-shadow(2px 3px 5px rgb(68, 98, 109));
}

.character-box-h2-img{
  width: 100px;
}