.story-game-btn-box{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  overflow: scroll;
  height: 65vh;
}
.story-game-img-principal{
  position: absolute;
  width: 15vw;
  left: 1vw;
  top: 20vh;
}

.story-game-btn {
  width: calc(50px + 4vw); 
  height: calc(50px + 4vw);
  height: auto;
  filter: drop-shadow(0px 4px 10px black); 
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.story-game-btn:hover {
  filter: drop-shadow(0px 4px 5px black); 
  height: calc(40px + 4vw);
}

.story-solution-img{
  width: calc(100px + 10vw);
}
.btn-count-box{
  display: flex;
  flex-direction: column;
  z-index: 20;
  h3{
    font-size: 2.5rem;
    i{
      font-size: 1.5rem;
    }
  }
}
.story-image-sounding{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: sounding 2s infinite;
  img{
    width: 20vw;
    height: auto;
  }
}
@keyframes sounding{
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.story-image{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: storyImg 0.5s forwards;
  img{
    height: 43vh;
    width:  auto;
  }
}
.story-image-last{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: storyImg 0.5s forwards;
  img{
    height: 60vh;
    width:  auto;
  }
}
@keyframes storyImg{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.story-game-allbtns{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  button{
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease-in-out;
  }
  button:hover{
    border-radius: 2px;
  }
}





/* choice game css */


.story-choice-images-box{
  position: absolute;
  width: 100%;
  top: 10vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: -10px; /*ajuste temporal*/
  padding: 0px;

}
.story-choice-images-box  img{
    width: calc(10vw + 100px);
}

.story-active-image-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  z-index: 10; /* por si necesitas estar sobre otros elementos */
}

.story-active-image-box img {
  width: 60vw;
  max-width: 500px;
  max-height: 500px;
  height: auto;
  object-fit: contain;
}

.choice-buttons-hover{
cursor: pointer;
box-sizing: border-box;
border-radius: 10px;
border: 4px solid black;
flex: 0.2 1 20%;
 }

.choice-buttons-hover:hover{
cursor: pointer;
box-sizing: border-box;
transition: 1s ease-in-out;
animation: bulala 3s infinite;
}

@keyframes bulala {
  0%, 100% {
    border-radius: 11px 23px 5px 19px; /* sin valores negativos */
  }
  20% {
    border-radius: 41px 20px 60px 19px; /* sin valores negativos */
  }
  40% {
    border-radius: 5px 57px 11px 71px;
  }
  60% {
    border-radius: 25px 14px 19px 3px;
  }
  80% {
    border-radius: 13px 29px 34px 28px;
  }
}

.choose-story-game-btn-box{
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%);
  z-index: 20;
}


.choose-story-game-btn {
  width: calc(50px + 4vw); 
  height: calc(50px + 4vw);
  height: auto;
  filter: drop-shadow(0px 4px 10px black); 
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.choose-story-game-btn:hover {
  filter: drop-shadow(0px 4px 5px black); 
  height: calc(40px + 4vw);
}
