:root {
  --white: #ffffff;
  --black: #21232a;
  --grey: #8d8d8d;
  --violet: rgb(255, 0, 255);
  --red: #ff0000;
  --blue:rgb(0, 0, 255);
  --yellow: rgb(255, 255, 0);
  --orange: #ffa200;
  --green:rgb(0, 255, 0);
  --darkGreen:rgb(15, 104, 15);
  --pink:#ff0080;
  --brown:rgb(165, 42, 42);

  --nav-violet: rgb(250, 93, 250);
  --nav-red: #ff6e6e;
  --nav-blue:rgb(100, 100, 249);
  --nav-yellow: rgb(255, 255, 66);
  --nav-orange: #feca72;
  --nav-green:rgb(0, 236, 0);
  --nav-pink:#f771b4;
  
  --default-game-box: #dedcff;
  --web-background: #f3f5ff;
  
  --dark-grey: rgb(130, 130, 130);
  --dark-blue: rgb(46, 46, 129);
  --dark-red: rgb(152, 51, 51);
  --dark-orange: rgb(137, 80, 16);
  --dark-violet: rgb(113, 27, 141);
  --dark-green: rgb(29, 114, 39);
  --dark-yellow: rgb(147, 152, 39);
  --dark-pink: #c90165;
  /* background-color: linear-gradient(to bottom,violet, red, orange, yellow, green, blue); */

  --light-white: rgba(255, 255, 255, 0.461);
  --light-grey: rgba(218, 218, 218, 0.461);
  --light-blue: rgba(164, 251, 254, 0.284);
  --light-red: rgba(253, 200, 201, 0.43);
  --light-orange: rgba(252, 202, 101, 0.452);
  --light-violet: rgba(235, 190, 250, 0.402);
  --light-green: rgba(191, 250, 198, 0.402);
  --light-yellow: rgba(253, 255, 209, 0.355);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sour Gummy", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}

html, body{
  height:100%;
  margin: 0;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-size:14px;
  height: 100vh;
}



.loaderTime-box {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  text-align: center;
  margin: auto;
}
.loaderTime-text{
font-size: calc(20px + 1vw);
}
.loaderTime {
  --c1: #673b14;
  --c2: #f8b13b;
  width: 80px;
  height: 160px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px, var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
  margin: auto; /* Centra el elemento */
}

.loaderTime::before,
.loaderTime::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loaderTime::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}