:root {
  --white: #ffffff;
  --black: #21232a;
  --violet: rgb(255, 0, 255);
  --red: #ff0000;
  --blue:rgb(0, 0, 255);
  --yellow: rgb(255, 255, 0);
  --orange: #ffa200;
  --green:rgb(0, 255, 0);
  --pink:#ff0080;




  --nav-violet: rgb(250, 93, 250);
  --nav-red: #ff6e6e;
  --nav-blue:rgb(100, 100, 249);
  --nav-yellow: rgb(255, 255, 66);
  --nav-orange: #feca72;
  --nav-green:rgb(0, 236, 0);
  --nav-pink:#f771b4;
  
  --default-game-box: #dedcff;
  --web-background: #f3f5ff;
  
  --dark-grey: rgb(130, 130, 130);
  --dark-blue: rgb(46, 46, 129);
  --dark-red: rgb(152, 51, 51);
  --dark-orange: rgb(137, 80, 16);
  --dark-violet: rgb(113, 27, 141);
  --dark-green: rgb(29, 114, 39);
  --dark-yellow: rgb(147, 152, 39);
  --dark-pink: #c90165;



  --light-grey: rgba(218, 218, 218, 0.461);
  --light-blue: rgba(164, 251, 254, 0.284);
  --light-red: rgba(253, 200, 201, 0.43);
  --light-orange: rgba(252, 202, 101, 0.452);
  --light-violet: rgba(235, 190, 250, 0.402);
  --light-green: rgba(191, 250, 198, 0.402);
  --light-yellow: rgba(253, 255, 209, 0.355);
  
  
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}

html, body{
  height:100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-size:14px;
  background-image: linear-gradient(to bottom right, #ffa578, #ff675a);
}
